@font-face {
    font-family: PermanentMarkerRegular;
    src: url(font/PermanentMarkerRegular.ttf);
}

@font-face {
    font-family: WonderbarDemo;
    src: url(font/WonderbarDemo.otf);
}

@font-face {
    font-family: AARDV;
    src: url(font/AARDV.TTFs);
}

@font-face {
    font-family: FatTats;
    src: url(font/FatTats.ttf);
}

@font-face {
    font-family: SantaBackground;
    src: url(font/SantaBackground.otf);
}

@font-face {
    font-family: Ravenscroft;
    src: url(font/Ravenscroft.ttf);
}

@font-face {
    font-family: GistLight;
    src: url(font/GistLight.otf);
}

@font-face {
    font-family: Montague;
    src: url(font/Montague.ttf);
}

@font-face {
    font-family: BungeeInlineRegular;
    src: url(font/BungeeInlineRegular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.shop_title img
{
height: 150px;
width: 350px;
}

nav {
    padding: 0px;
}

nav ul {
    display: flex;
    padding: 10px;
    list-style-type: none;
   
    overflow: hidden;
   
}

nav ul li a {
    text-decoration: none;
    padding: 30px;
    font-size: 1.4rem;
    color: rgb(78, 78, 78);
    position: relative;
    font-family: KanitBold;
    font-weight: 900;
    /* display: block; */
    font-style: italic;
    
}
a:hover
{
    color: rgb(30, 198, 210);
}




















@media all and (max-width:500px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-top: 10px;

    }
    .shop_title img
    {
        height: 170px;
        width: 300px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        font-size: 1.1rem;
        margin: 0px 70px 0px 70px;

        width: 90%;

    }



}

@media all and (min-width:750px) and (max-width:1000px)
{

    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-top: 10px;

    }
}