@font-face {
    font-family: PermanentMarkerRegular;
    src: url(font/PermanentMarkerRegular.ttf);
}

@font-face {
    font-family: WonderbarDemo;
    src: url(font/WonderbarDemo.otf);
}

@font-face {
    font-family: AARDV;
    src: url(font/AARDV.TTFs);
}

@font-face {
    font-family: FatTats;
    src: url(font/FatTats.ttf);
}

@font-face {
    font-family: SantaBackground;
    src: url(font/SantaBackground.otf);
}

@font-face {
    font-family: Ravenscroft;
    src: url(font/Ravenscroft.ttf);
}

@font-face {
    font-family: GistLight;
    src: url(font/GistLight.otf);
}

@font-face {
    font-family: Montague;
    src: url(font/Montague.ttf);
}

@font-face {
    font-family: BungeeInlineRegular;
    src: url(font/BungeeInlineRegular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

}
/* 
 h1 {
    font-size: 2.4rem;
   
    font-family: FatTats;
    margin-top: 10px;
    color: rgb(125, 83, 83);
    text-shadow: 2px 2px 3px black, 2px 2px 4px goldenrod;
    word-spacing: 10px;

}  */
.shop_title img
{
height: 150px;
width: 350px;
}

nav {
    padding: 0px;
}

nav ul {
    display: flex;
    padding: 10px;
    list-style-type: none;
    /* padding-left: 5px;
    padding-right: 5px; */
    overflow: hidden;
   
}

nav ul li a {
    text-decoration: none;
    padding: 30px;
    font-size: 1.4rem;
    color: rgb(78, 78, 78);
    position: relative;
    font-family: KanitBold;
    font-weight: 900;
    /* display: block; */
    font-style: italic;
    
}
a:hover
{
    color: rgb(30, 198, 210);
}
/* a::after {
    content: "";
    height: 2px;
    width: 70%;
    transform: scale(0);
    background-color: black;
    position: absolute;
    left: 18px;
    bottom: 10px;
    transition: .5s;
}

a:hover::after {
    transform: scale(1);
} */



















@media all and (max-width:500px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-top: 10px;

    }

    nav ul {
        display: flex;
        flex-direction: row;
        font-size: 1.1rem;
        margin: 0px 70px 0px 70px;

        width: 90%;

    }



}

@media all and(max-width:750px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
        background-color: aqua;
        
    }

    nav ul {
        display: flex;
        flex-direction: column;
        background-color: yellowgreen;

    }
   
}