@font-face {
    font-family: KanitBold;
    src: url(font/KanitBold.ttf);
}
@font-face {
    font-family: AkayaTelivigalaRegular;
    src: url(font/AkayaTelivigalaRegular.ttf);
}
@font-face {
    font-family: TimmanaRegular;
    src: url(font/TimmanaRegular.ttf);
}
.pricing_banner
{
    height: 100%;
    width: 90%;
    margin: auto;
}
.pricing_banner img
{
    height: 500px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    border: 3px solid brown;
}
.picture1
{
    height: 100%;
    width: 30%;
    margin: auto;
}
.picture1 img
{
    height: 450px;
    width: 400px;
    margin-top: 100px;
}
h1
{
    font-size: 3rem;
    text-align: center;
    font-family: KanitBold;
    color: chocolate;
    text-shadow: 2px 2px 2px black;
    margin-top: 60px;
}
.price_table1
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 70%;
    height: 600px;
    margin-top: 50px;
    border: 3px solid brown;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.hair_name1
{
    margin-left: 250px;
}
.price1
{
    margin-left: 150px;
}
.price_table1 h5
{
    font-size: 2rem;
    margin-left: 20px;
    margin-top: 30px;
    font-family: TimmanaRegular;
}
.price_table1 h3
{
    margin-top: 40px;
    margin-left: 30px;
    font-family: AkayaTelivigalaRegular;
}
@media all and (max-width:500px) 
{
    .picture1 img
    {
        margin-left: -80px;
    }
    .price_table1
    {
        display: grid;
        width: 90%;
    }
    .hair_name1
    {
        margin-left: -10px;
    }
}
@media all and (min-width:750px) and (max-width:1000px)
{
    .picture1 img
    {
        margin-left: -80px;
    }
    .price_table1
    {
        display: grid;
        width: 90%;
    }
    .hair_name1
    {
        margin-left: -10px;
    }
}


